{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<!-- return to main build page -->
<section>
    <br>
    <div class="container btn-return-container text-center">
        <a href="{% url 'bgbuilds' %}">
            <button class="btn btn-secondary btn-lg btn-return">
                Return to all builds
            </button>
        </a>
    </div>
</section>
<!-- form to submit a new build -->
<section id="submit-form">
    <div class="container">
        <form method="POST" enctype="multipart/form-data" class="p-5 form">
            <h2 class="text-center title">Add Build</h2>
            {% csrf_token %}
            {{ form.media }}
            {{ form|crispy }}
            <div class="text-center">
                <button type="submit" class="btn btn-secondary btn-lg btn-return">Add Build!</button>
            </div>
        </form>
    </div>
    <hr>
</section>

{% block extras %}
<script src="{% static 'js/addform.js' %}"></script>
{% endblock %}

{% endblock %}