{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<!-- detailed build view with javascript for class -->
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="card border-light mb-3 build-card card-detail">
                <div class="card-header build-header" id="card-icon">
                    <h2 class="card-title">{{build.bgbuild_title}}</h2>
                </div>
                <div class="card-body">
                    <div class="image-container mx-auto">
                        {% if "placeholder" in build.bgbuild_image.url %}
                        <img class="card-img scale" src="{% static 'images/bg3/default.png' %}"
                            alt="placeholder image">
                        {% else %}
                        <img class="card-img-top" src="{{ build.bgbuild_image.url }}" alt="user build image">
                        {% endif %}
                    </div>                                
                </div>
                <div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>Role </b>| {{ build.bgbuild_role }}</li>
                        <li class="list-group-item"><b>Base class </b>| {{ build.bgbase_class }}</li>
                        {% if build.bgbase_class == "barbarian" %}
                            <li class="list-group-item"><b>Subclass </b>| {{ build.barbarian_subclass }}</li>
                        {% elif build.bgbase_class == "bard" %}
                            <li class="list-group-item"><b>Subclass </b>| {{ build.bard_subclass }}</li>
                        {% elif build.bgbase_class == "cleric" %}
                            <li class="list-group-item"><b>Subclass </b>| {{ build.cleric_domain }}</li>
                        {% elif build.bgbase_class == "druid" %}
                            <li class="list-group-item"><b>Subclass </b>| {{ build.druid_subclass }}</li>
                        {% elif build.bgbase_class == "fighter" %}
                            <li class="list-group-item"><b>Subclass </b>| {{ build.fighter_subclass }}</li>
                        {% elif build.bgbase_class == "monk" %}
                            <li class="list-group-item"><b>Subclass </b>| {{ build.monk_subclass }}</li>
                        {% elif build.bgbase_class == "paladin" %}
                            <li class="list-group-item"><b>Subclass </b>| {{ build.paladin_oath }}</li>
                        {% elif build.bgbase_class == "ranger" %}
                            <li class="list-group-item"><b>Subclass </b>| {{ build.ranger_subclass }}</li>
                        {% elif build.bgbase_class == "rogue" %}
                            <li class="list-group-item"><b>Subclass </b>| {{ build.rogue_subclass }}</li>
                        {% elif build.bgbase_class == "sorcerer" %}
                            <li class="list-group-item"><b>Subclass </b>| {{ build.sorcerer_subclass }}</li>
                        {% elif build.bgbase_class == "warlock" %}
                            <li class="list-group-item"><b>Subclass </b>| {{ build.warlock_subclass }}</li>
                        {% elif build.bgbase_class == "wizard" %}
                            <li class="list-group-item"><b>Subclass </b>| {{ build.wizard_school }}</li>
                        {% endif %}
                        <li class="list-group-item"><b>Multiclass? </b>|  {{ build.multiclass }}</li>
                        {% if build.multiclass == "yes" %}
                            <li class="list-group-item"><b>Multiclass One </b>|  {{ build.multiclass_one }}</li>
                        {% endif %}
                        <li class="list-group-item"><b>Level Split </b>| {{ build.classone_level }}</li>
                        <li class="list-group-item build-details">created by <a href="#" class="user-link">{{ build.user }}</a></li>
                    </ul>
                </div>
                <div class="p-3">
                    <hr>
                    <!--If user created post, edit and delete buttons-->
                    {% if request.user == build.user %}
                        <a href="{% url 'bgeditbuild' build.id %}" class="btn btn btn-signup btn-outline-dark mb-3">Edit</a>
                        <a href="{% url 'bgdeletebuild' build.id %}" class="btn btn btn-signup btn-outline-dark mb-3">Delete</a>
                    {% endif %}
                </div>
                <div class="card-body">
                    <p>
                        {{ build.content }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- comment display, form -->
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <strong class="text-secondary">
                    <i class="fa-solid fa-comment fa-xl build-comments"></i>
                    {{ comment.comment_count }}
                                  
                    <a href="" class="build-likes">
                        <i class="fa-solid fa-heart fa-xl"> ##</i>
                    </a>
                </strong>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="card-body">
                {% if user.is_authenticated %}
                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form id="commentForm" method="post"
                    style="margin-top: 1.2em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <input id="submitButton" type="submit"
                    class="btn btn-signup btn-lg comment-btn" name="comment">
                </form>
                {% else %}
                <p>Please register or login to leave a comment.</p>
                {% endif %}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="card border-light mb-4 mt-3 comment-section">
                <h3 class="comment-header">Comments:</h3>
                <br class="comment-break">
                <div class="card-body">
                    {% for comment in comments %}
                    <div class="p-2 comment-body">
                        <div id="comment{{ comment.id }}">
                            {{ comment.body | linebreaks }}
                        </div>
                        <br>
                        <p class="font-weight-bold comment-user">
                            {{ comment.user }}
                            <span class="font-weight-normal">
                              {{ comment.created_on }}
                            </span>
                        </p>
                        <!-- edit/delete buttons go here -->
                        <br>
                        {% if user.is_authenticated %}
                            <h4>Leave a reply</h4>
                            <p>replying as {{ user.username }}</p>
                            <form id="replyForm" method="post"
                                style="margin-top: 1.2em;">
                                {{ reply_form | crispy }}
                                {% csrf_token %}
                                <input id="submitButton" type="submit"
                                class="btn btn-signup btn-lg comment-btn" name="reply">
                                <input type="hidden" value="{{ comment.id }}" name="comment_id">
                            </form>
                        {% endif %}
                        {% for reply in comment.replies.all %}
                        <div class="row">
                            <div class="col-4">
                                <div>
                                    {{ reply.body }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    <hr>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- return to main build page -->
<section>
    <div class="container btn-return-container text-center">
        <button class="btn btn-secondary btn-lg btn-return">
            <a href="{% url 'bgbuilds' %}">
                Return to all builds
            </a>
        </button>
    </div>
</section>

{% endblock %}

{% block extras %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}