{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- search results returned -->
<section>
    <div class="container">
        <div class="row search-results">
            <div class="col-md-8 mx-auto">
                <h1>Search: {{ build_search }}</h1>
                <p>{{ total }} Build(s) found!</p>
            </div>
        </div>
    </div>
</section>


<!-- searched build list returned -->
<section>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-sm-9 mt-3 right">
                <div class="row">
                    {% for build in builds %}
                    <div class="col-md-3">
                        <div class="card border-dark mb-3 build-card">
                            <div class="card-header build-header" id="card-icon">
                                <a href="#" class="build-link">
                                    <h2 class="card-title">{{build.bgbuild_title}}</h2>
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="image-container mx-auto">
                                    {% if "placeholder" in build.bgbuild_image.url %}
                                    <img class="card-img" src="{% static 'images/bg3/default.png' %}"
                                        alt="placeholder image">
                                    {% else %}
                                    <img class="card-img" src="{{ build.bgbuild_image.url }}" alt="user build image">
                                    {% endif %}
                                </div>                                
                                <a href="" class="build-likes">
                                    <i class="fa-solid fa-heart"> ##</i>
                                </a>
                            </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><b>Role </b>| {{ build.bgbuild_role }}</li>
                                    <li class="list-group-item"><b>Base class </b>| {{ build.bgbase_class }}</li>
                                    <li class="list-group-item"><b>Base Level </b>| {{ build.level_split }}</li>
                                    <li class="list-group-item">{{ build.excerpt }}</li>
                                    <li class="list-group-item build-details">created by <a href="#" class="user-link">{{ build.user }}</a></li>
                                </ul>
                            <a href="{% url 'bgbuilddetail' build.slug %}" class="btn btn-primary explore-btn"
                                aria-label="Opens post {{ build.build_title }}">Explore Build
                            </a>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:4 %}
                </div>
                <div class="row">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<!-- return to main build page -->
<section>
    <div class="container btn-return-container text-center">
        <button class="btn btn-secondary btn-lg btn-return">
            <a href="{% url 'bgbuilds' %}">
                Return to all builds
            </a>
        </button>
    </div>
</section>


<!-- index.html content ends here -->

{% endblock %}