{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<!-- detailed build view with javascript for class -->
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="card border-light mb-3 build-card card-detail">
                <div class="card-header build-header" id="card-icon">
                    <h2 class="detail-title">{{build.bgbuild_title}}</h2>
                    {% if build.bgbase_class == "barbarian" %}
                        <img src="{% static '/images/bg3/barbarian/bg3-class-icon-barbarian.webp' %}" class="class-img-top">
                        {% elif build.bgbase_class == "bard" %}
                        <img src="{% static '/images/bg3/bard/bg3-class-icon-bard.webp' %}" class="class-img-top">
                        {% elif build.bgbase_class == "cleric" %}
                        <img src="{% static '/images/bg3/cleric/bg3-class-icon-cleric.webp' %}" class="class-img-top">
                        {% elif build.bgbase_class == "druid" %}
                        <img src="{% static '/images/bg3/druid/bg3-class-icon-druid.webp' %}" class="class-img-top">
                        {% elif build.bgbase_class == "fighter" %}
                        <img src="{% static '/images/bg3/fighter/bg3-class-icon-fighter.webp' %}" class="class-img-top">
                        {% elif build.bgbase_class == "monk" %}
                        <img src="{% static '/images/bg3/monk/bg3-class-icon-monk.webp' %}" class="class-img-top">
                        {% elif build.bgbase_class == "paladin" %}
                        <img src="{% static '/images/bg3/paladin/bg3-class-icon-paladin.webp' %}" class="class-img-top">
                        {% elif build.bgbase_class == "ranger" %}
                        <img src="{% static '/images/bg3/ranger/bg3-class-icon-ranger.webp' %}" class="class-img-top">
                        {% elif build.bgbase_class == "rogue" %}
                        <img src="{% static '/images/bg3/rogue/bg3-class-icon-rogue.webp' %}" class="class-img-top">
                        {% elif build.bgbase_class == "sorcerer" %}
                        <img src="{% static '/images/bg3/sorcerer/bg3-class-icon-sorcerer.webp' %}" class="class-img-top">
                        {% elif build.bgbase_class == "warlock" %}
                        <img src="{% static '/images/bg3/warlock/bg3-class-icon-warlock.webp' %}" class="class-img-top">
                        {% elif build.bgbase_class == "wizard" %}
                        <img src="{% static '/images/bg3/wizard/bg3-class-icon-wizard.webp' %}" class="class-img-top">
                        {% endif %}
                </div>
                <div class="detail-list">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center"><b id="yellow">Role </b><span> {{ build.bgbuild_role }} </span></li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><b id="yellow">Base class </b><span> {{ build.bgbase_class }} </span></li>
                        {% if build.bgbase_class == "barbarian" %}
                            <li class="list-group-item d-flex justify-content-between align-items-center"><b id="yellow">Subclass </b><span> {{ build.barbarian_subclass }} </span></li>
                        {% elif build.bgbase_class == "bard" %}
                            <li class="list-group-item d-flex justify-content-between align-items-center"><b id="yellow">Subclass </b><span> {{ build.bard_subclass }} </span></li>
                        {% elif build.bgbase_class == "cleric" %}
                            <li class="list-group-item d-flex justify-content-between align-items-center"><b id="yellow">Subclass </b><span> {{ build.cleric_domain }} </span></li>
                        {% elif build.bgbase_class == "druid" %}
                            <li class="list-group-item d-flex justify-content-between align-items-center"><b id="yellow">Subclass </b><span> {{ build.druid_subclass }} </span></li>
                        {% elif build.bgbase_class == "fighter" %}
                            <li class="list-group-item d-flex justify-content-between align-items-center"><b id="yellow">Subclass </b><span> {{ build.fighter_subclass }} </span></li>
                        {% elif build.bgbase_class == "monk" %}
                            <li class="list-group-item d-flex justify-content-between align-items-center"><b id="yellow">Subclass </b><span> {{ build.monk_subclass }} </span></li>
                        {% elif build.bgbase_class == "paladin" %}
                            <li class="list-group-item d-flex justify-content-between align-items-center"><b id="yellow">Subclass </b><span> {{ build.paladin_oath }} </span></li>
                        {% elif build.bgbase_class == "ranger" %}
                            <li class="list-group-item d-flex justify-content-between align-items-center"><b id="yellow">Subclass </b><span> {{ build.ranger_subclass }} </span></li>
                        {% elif build.bgbase_class == "rogue" %}
                            <li class="list-group-item d-flex justify-content-between align-items-center"><b id="yellow">Subclass </b><span> {{ build.rogue_subclass }} </span></li>
                        {% elif build.bgbase_class == "sorcerer" %}
                            <li class="list-group-item d-flex justify-content-between align-items-center"><b id="yellow">Subclass </b><span> {{ build.sorcerer_subclass }} </span></li>
                        {% elif build.bgbase_class == "warlock" %}
                            <li class="list-group-item d-flex justify-content-between align-items-center"><b id="yellow">Subclass </b><span> {{ build.warlock_subclass }} </span></li>
                        {% elif build.bgbase_class == "wizard" %}
                            <li class="list-group-item d-flex justify-content-between align-items-center"><b id="yellow">Subclass </b><span> {{ build.wizard_school }} </span></li>
                        {% endif %}
                        <li class="list-group-item d-flex justify-content-between align-items-center"><b id="yellow">Multiclass? </b><span>  {{ build.multiclass }} </span></li>
                        {% if build.multiclass == "yes" %}
                            <li class="list-group-item d-flex justify-content-between align-items-center"><b id="yellow">Multiclass One </b><span>  {{ build.multiclass_one }} </span></li>
                        {% endif %}
                        <li class="list-group-item d-flex justify-content-between align-items-center"><b id="yellow">Level Split </b><span> {{ build.level_split }} </span></li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><b id="yellow">Key Ability </b><span> {{ build.main_key_ability }} </span></li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><b id="yellow">Secondary Key Ability </b></p><span> {{ build.secondary_key_ability }} </span></li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><b id="yellow">Suggested Skill </b></p><span> {{ build.suggested_skill }} </span></li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><b id="yellow">Build Difficulty </b></p><span> {{ build.difficulty }} </span></li>
                        <li class="list-group-item">created by {{ build.user }}</li>
                    </ul>
                </div>
                <div class="p-3 edit-delete-container">
                    <!--If user created post, edit and delete buttons-->
                    {% if request.user == build.user %}
                        <a href="{% url 'bgeditbuild' build.id %}" class="btn btn-secondary btn-lg btn-return">Edit</a>
                        <a href="{% url 'bgdeletebuild' build.id %}" class="btn btn-secondary btn-lg btn-return">Delete</a>
                    {% endif %}
                </div>
                <div class="card-body">
                    <h3>Key Info</h3>
                    <p>
                        {{ build.content }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- favourites, comment display, form -->
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 favourite-section">
                <strong class="text-secondary">
                    <i class="fa-solid fa-comment fa-xl build-comments"> {{ build.comments.count }}</i>
                {% if user.is_authenticated %}
                <div class="favourite-section">
                    <form action="{% url 'bgfavouritebuild' build.slug %}" method="POST">
                        {% csrf_token %}
                        {% if build in request.user.bgbuild_favourite.all %}
                        <input type="submit" name="bgbuild_slug" class="btn btn-lg comment-btn" name="favourite" value="Favourited!"></input>
                        <input type="hidden" value="{{ build.slug }}" name="build_slug">
                            <i class="fa-solid fa-heart fa-xl favourited"> {{ build.number_of_favourites }}</i>
                        {% else %}
                        <input type="submit" name="bgbuild_slug" class="btn btn-lg comment-btn" name="favourite" value="Favourite"></input>
                        <input type="hidden" value="{{ build.slug }}" name="build_slug">
                            <i class="fa-solid fa-heart fa-xl"> {{ build.number_of_favourites }}</i>
                        {% endif %}
                    </form>
                    {% else %}
                    <p> Favourites {{ build.number_of_favourites }}</p>
                    {% endif %}
                    </strong>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="mt-3 comment-form">
                <div class="card-body">
                    {% if user.is_authenticated %}
                    <h3>Leave a comment:</h3>
                    <p>Posting as: {{ user.username }}</p>
                    <form id="commentForm" method="post"
                        style="margin-top: 1.2em;">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <input id="submitButton" type="submit"
                        class="btn btn-signup btn-lg comment-btn" name="comment">
                    </form>
                    {% else %}
                    <p>Please register or login to leave a comment.</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="card border-light mb-4 mt-3 comment-section">
                <h3 class="comment-header">Comments:</h3>
                <div class="card-body">
                    {% for comment in comments %}
                    <div class="p-2 comment-body">
                        <div id="comment{{ comment.id }}" class="comment-text">
                            {{ comment.body | linebreaks }}
                        </div>
                        <br>
                        <p class="font-weight-bold comment-user">
                            {{ comment.user }}
                            <span class="font-weight-normal">
                              {{ comment.created_on }}
                            </span>
                        </p>
                        <hr>
                        <!-- edit/delete buttons go here -->
                        <br>
                        <h4><strong>Replies:</strong></h4>
                        {% for reply in comment.replies.all %}
                        <div class="row">
                            <br>
                            <div class="col-4 reply-text">
                                <div>
                                    {{ reply.body }}
                                </div>
                                <br>
                                <div>
                                    Reply by {{ reply.user }} {{ reply.created_on }}
                                </div>
                            </div>
                        </div>
                        <hr>
                        {% endfor %}
                        {% if user.is_authenticated %}
                            <h4>Leave a reply</h4>
                            <p>replying as {{ user.username }}</p>
                            <form id="replyForm" method="post"
                                style="margin-top: 1.2em;">
                                {{ reply_form | crispy }}
                                {% csrf_token %}
                                <input id="submitButton" type="submit"
                                class="btn btn-signup btn-lg comment-btn" name="reply">
                                <input type="hidden" value="{{ comment.id }}" name="comment_id">
                            </form>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <hr>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- return to main build page -->
<section>
    <div class="container btn-return-container text-center">
        <button class="btn btn-secondary btn-lg btn-return">
            <a href="{% url 'bgbuilds' %}">
                Return to all builds
            </a>
        </button>
    </div>
</section>

{% endblock %}

{% block extras %}
<script src="{% static 'js\comments.js' %}"></script>
{% endblock %}