{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Builds created by account -->
<section>
    <h1 id="account-headers" class="text-center">My Builds</h1>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-sm-9 mt-3 right">
                <div class="row">
                    {% for build in object_list %}
                    <div class="col-md-3">
                        {% if build.status == 0%}
                        <div class="card border-light mb-3 build-card italic">
                        {% else %}
                        <div class="card border-light mb-3 build-card ">
                        {% endif %}
                            <div class="card-header build-header" id="card-icon">
                                <h2 class="card-title">{{build.bgbuild_title}}</h2>
                                {% if build.bgbase_class == "barbarian" %}
                                    <img src="{% static '/images/bg3/barbarian/bg3-class-icon-barbarian.webp' %}" class="class-img-top">
                                {% elif build.bgbase_class == "bard" %}
                                    <img src="{% static '/images/bg3/bard/bg3-class-icon-bard.webp' %}" class="class-img-top">
                                {% elif build.bgbase_class == "cleric" %}
                                    <img src="{% static '/images/bg3/cleric/bg3-class-icon-cleric.webp' %}" class="class-img-top">
                                {% elif build.bgbase_class == "druid" %}
                                    <img src="{% static '/images/bg3/druid/bg3-class-icon-druid.webp' %}" class="class-img-top">
                                {% elif build.bgbase_class == "fighter" %}
                                    <img src="{% static '/images/bg3/fighter/bg3-class-icon-fighter.webp' %}" class="class-img-top">
                                {% elif build.bgbase_class == "monk" %}
                                    <img src="{% static '/images/bg3/monk/bg3-class-icon-monk.webp' %}" class="class-img-top">
                                {% elif build.bgbase_class == "paladin" %}
                                    <img src="{% static '/images/bg3/paladin/bg3-class-icon-paladin.webp' %}" class="class-img-top">
                                {% elif build.bgbase_class == "ranger" %}
                                    <img src="{% static '/images/bg3/ranger/bg3-class-icon-ranger.webp' %}" class="class-img-top">
                                {% elif build.bgbase_class == "rogue" %}
                                    <img src="{% static '/images/bg3/rogue/bg3-class-icon-rogue.webp' %}" class="class-img-top">
                                {% elif build.bgbase_class == "sorcerer" %}
                                    <img src="{% static '/images/bg3/sorcerer/bg3-class-icon-sorcerer.webp' %}" class="class-img-top">
                                {% elif build.bgbase_class == "warlock" %}
                                    <img src="{% static '/images/bg3/warlock/bg3-class-icon-warlock.webp' %}" class="class-img-top">
                                {% elif build.bgbase_class == "wizard" %}
                                    <img src="{% static '/images/bg3/wizard/bg3-class-icon-wizard.webp' %}" class="class-img-top">
                                {% endif %}
                            </div>
                            <div class="card-body">
                                <div class="image-container mx-auto">
                                    {% if "placeholder" in build.bgbuild_image.url %}
                                    <img class="card-img" src="{% static 'images/bg3/default.png' %}"
                                        alt="placeholder image">
                                    {% else %}
                                    <img class="card-img" src="{{ build.bgbuild_image.url }}" alt="user build image">
                                    {% endif %}
                                </div>
                                {% if build in request.user.bgbuild_favourite.all %}                                   
                                <i class="fa-solid fa-heart favourited"> {{ build.number_of_favourites }}</i>
                                {% else %}
                                <i class="fa-solid fa-heart"> {{ build.number_of_favourites }}</i>
                                {% endif %}
                                <br>
                                <i class="fa-solid fa-comment fa build-comments">
                                    {{ build.comments.count }}
                                </i>
                            </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item build-excerpt">'{{ build.excerpt }}'</li>
                                    <li class="list-group-item"><b>Role </b>| {{ build.bgbuild_role }}</li>
                                    <li class="list-group-item"><b>Base class </b>| {{ build.bgbase_class }}</li>
                                    <li class="list-group-item"><b>Multiclass </b>| {{ build.multiclass }}</li>
                                    <li class="list-group-item build-details">created by <a href="#" class="user-link">{{ build.user }}</a></li>
                                </ul>
                            {% if build.status == 0 %}
                                <a href="#" class="btn btn-secondary explore-btn-confirmation"
                                aria-label="Opens post {{ build.build_title }}">Awaiting Admin Review
                            </a>
                            {% else %}
                                <a href="{% url 'bgbuilddetail' build.slug %}" class="btn btn-secondary explore-btn"
                                aria-label="Opens post {{ build.build_title }}">Explore Build
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:4 %}
                </div>
                <div class="row">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
    <div class="container btn-return-container text-center">
        <a href="{% url 'bgbuilds' %}">
            <button class="btn btn-secondary btn-lg btn-return">
            Return to all builds
            </button>
        </a>
    </div>
</section>

{% endblock %}
