{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Main title section with background -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="main-title">
                <h1 class="title"><strong>build</strong>.mt</h1>
            <div class="container main-subtitles">
                <h2>
                    Build inspiration made easy.
                </h2>
                <h3>
                    Simple character builds for Baldur's Gate III.
                </h3>
            </div>
            <div>
                <a href="{% url 'bgbuilds' %}">
                    <button class="btn btn-secondary btn-lg btn-return">
                    Explore Builds
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>

{% endblock %}