{% extends 'base.html' %}

{% load static %}

{% block content %}

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="main-image">
                <img src="{% static '/images/main-logo.png' %}" alt="main logo">
            </div>
            <div class="main-title">
                <h1 class="title"><strong>build</strong>.mt</h1>
            <div class="container main-subtitles">
                <h3>
                    Build inspiration made easy.
                </h3>
                <h4>
                    Simple character builds for Baldur's Gate III.
                </h4>
            </div>
            <div class="hero-img">
                <div class="container btn-return-container text-center">
                    <img src="#" alt="">
                </div>
                <button class="btn btn-secondary btn-lg btn-return hero-btn">
                    <a href="{% url 'bgbuilds' %}">
                        Explore Builds
                    </a>
                </button>
            </div>
        </div>
    </div>
    <div>
        
    </div>
</section>
{% endblock %}